:root{


  @mixin flexible( $display, $direction, $corte, $justify, $align){
    display: $display;
    flex-flow: $direction $corte;
    justify-content: $justify;
    align-items: $align;

  }
  @mixin global-shadow {

    border-radius: 2em;
    background: var(--pattern-background);
    box-shadow:  var(--shadow);
  }
}
