/* ------Reset de Eduardo Fierro --------*/

/* You can add global styles to this file, and also import other style files */
@charset "UTF-8";


/*

  Con este reset vamos a resolver:
    👉 Unificar el uso de Custom Properties
    👉 Problemas de box-model más generales
    👉 Problemas con imagenes, vídeos e iconos svg
    👉 Problemas con tipografías y etiquetas input en formularios
    👉 Unificar la tipografía de todas las etiquetas de una web

*/
/* Aquí definimos las Custom properties */
:root {

  /* Tipografía */
  --tipo-principal: yoruka, sans-serif;
  --tipo-secundaria: Verdana, sans-serif;
  --font-color: #222222;
  --font-color-hover: #454545;
  --font-claim: 3em;
  --font-subtitle: .8em;
  --font-tag: .7em;
  --font-card-title:.9em;

  /* Background */
  --pattern-lines: #E1E1DF;
  --pattern-background: #FBF9F5;



  --accent: #FFCB5C;
  --danger: #F87060;
  --confirm: #6BA292;
  --pure-white: #ffffff;
  --wasabi: #C0DD3D;

  --padding-min: .5em;
  --padding-global: 1em;
  --padding-interior-top: calc(var(--padding-global) * 3);
  --padding-interior-left: calc(var(--padding-global) * 2);
  --padding-tags: .2em;
  --max-width-content: 68rem;
  --border-global: 2px solid var(--font-color);
  --border-radius-global: 1em;
  --border-radius-inputs: .5em;
  --border-radius-claim-img: 6em;
  --border-radius-tags: .3em;

  --transition:  all .3s;
  --shadow:  2px 2px 10px var(--pattern-lines);
  --border:  2px solid var(--pattern-lines);

}



/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --font-color: #222222;
  }
}

/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}

/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
  line-height: 1.5em;
}

h1{
  font-size: 1.3em;

}


/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--font-color);
  color: var(--blanco);
}

::selection {
  background-color: var(--font-color);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
  fill: var(--font-color);
}

/* p svg{
  display: inline;
  width: initial;
} */

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--font-color);
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--pattern-background);
/*   background-image:  linear-gradient(var(--pattern-lines) 1.7000000000000002px, transparent 1.7000000000000002px), linear-gradient(to right, var(--pattern-lines) 1.7000000000000002px, var(--pattern-background) 1.7000000000000002px);
  background-size: 34px 34px;
  background-attachment: fixed; */

}

main{

  padding: var(--padding-interior-top);
}

/* ----buttons---------- */
.ok-button{
  font-family: var(--tipo-secundaria);
  background: var(--font-color);
  cursor: pointer;
  color: var(--pure-white);
  transition: var(--transition);
  width: 100%;
  border-radius: var(--border-radius-inputs);
  padding: var(--padding-global);
  margin-top: var(--padding-global) ;
  transition: var(--transition);
  font-weight: 500;
  text-transform: uppercase;

}

.ok-button:hover{
  background: var(--accent);
  color: var(--font-color-hover);
/*   transform: scale(1.01); */
}


/* ----buttons---------- */

/* ----forms---------- */
form{
  font-family: var(--tipo-secundaria);
  border-radius: var(--border-radius-global);
  background: var(--pure-white);
  box-shadow: var(--shadow);
  margin-top: var(--padding-interior-left);
  padding: var(--padding-interior-top) var(--padding-interior-left);


}
label{
  padding: var(--padding-global) 0;
}

input{
  border-radius: var(--border-radius-inputs);
  padding: var(--padding-global);
  border: var(--border);
  width: 100%;
}

input:focus, input:focus-visible{
  outline-color: var(--accent);
}


.busqueda{
  position: absolute;
  width: calc(100% - (var(--padding-interior-left)*2));
  overflow: scroll;
  max-height: calc(var(--padding-interior-top) * 6);
  border-radius: 0 0 var(--border-radius-inputs) var(--border-radius-inputs);

  li{
    padding: var(--padding-global);
    background: var(--pattern-background);
    border-bottom: var(--border);

  }
}


/* ----forms---------- */

/* ----card---------- */
.card{
  position: relative;
  background: var(--pure-white);
  border-radius: var(--border-radius-inputs);
  box-shadow: var(--shadow);
  font-family: var(--tipo-secundaria);
  overflow: hidden;

  .card-info{
    padding: var(--padding-global);
  }
  .card-badge{
    position: absolute;
    right: var(--padding-global);
    width: var(--padding-interior-left);
    height: var(--padding-interior-top);

  }
  .card-img{
    width: 100%;
    min-height: 12em;
    max-height: 12em;
  }
  .card-wrap-rate{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-bottom: var(--padding-min);

    .card-title{
      font-size: var(--font-card-title);
      font-family: var(--tipo-principal);

    }
    .card-rate{

    }

  }
  .card-subtitle, .card-addres, .card-price{
    font-size: var(--font-subtitle);
    padding-bottom: var(--padding-min);
  }



  .card-tags, .card-food-type {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin-bottom: var(--padding-min);

      li{
      position: relative;
      font-size: var(--font-tag);
      line-height: 1.2;
      padding: var(--padding-tags) calc( var(--padding-tags) *2);
      margin: 2px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      align-content: center;

    }

  }
  .card-food-type {
    li{
      padding: var(--padding-tags) var(--padding-tags);
      &:not(:last-child):after{
        content: "";
        display: block;
        background: var(--pattern-lines);
        width: .5em;
        height: .5em;
        border-radius: 50%;
        margin-left: .7em;
      }
    }
  }

  .card-tags{

    li{
      border-radius: var(--border-radius-tags);
    }

  }
  .double{
    background-color: var(--confirm);
    color: var(--pure-white);
  }
  .insider{
    background: var(--accent);
    color: var(--font-color);
  }
  .yums{
    background: var(--font-color);
    color: var(--pure-white);
  }
  .japanin{
    background: var(--danger);
    color: var(--pure-white);
  }
  .pay{
    background: var(--wasabi);
  }
  .discount{
    background: var(--font-color);
    color: var(--pure-white);
  }

  .tag-icon{
    width: 1.2em;
    margin-right: var(--padding-tags);
  }

  .card-discount{
    color: var(--confirm);
  }

}
